@tailwind components;
@tailwind base;
@tailwind utilities;

.raise {
  &:hover {
    transform: translateY(-0.25em);
  }
}

.form {
  max-width: 830px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-top: 30px;
}

.form .form__custom-button {
  margin-top: 50px;
}
